@import 'tailwindcss';

::-webkit-scrollbar {
  width: 8px;
  height: 4px;
}
::-webkit-scrollbar-track {
  background-color: #ebebeb;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  border-radius: 10px;
  background: #8b5cf6;
}

.perspective-1000 {
  perspective: 1000px;
}

.wallet-adapter-button-trigger {
  padding: 28px 24px;
  background: linear-gradient(to right, #7c3aed, #3b82f6);
  color: white;
  font-weight: 400;
  font-size: 1.125rem;
  border-radius: 0.375rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
}

svg g[transform='matrix(1,0,0,0.10219000279903412,629,763)'] {
  opacity: 0;
}
