@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 8px;
  height: 4px;
}
::-webkit-scrollbar-track {
  background-color: #ebebeb;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  border-radius: 10px;
  background: #8b5cf6;
}

.perspective-1000 {
  perspective: 1000px;
}

svg g[transform='matrix(1,0,0,0.10219000279903412,629,763)'] {
  opacity: 0;
}
